[credential "https://github.com"]
    helper =
    helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper =
    helper = !/usr/bin/gh auth git-credential
[credential]
    azreposCredentialType = oauth
    credentialStore = gpg
    helper = manager
[credential "https://dev.azure.com"]
    useHttpPath = true
[core]
    editor = code --wait
[include]
    path = ~/.gitconfig.local
